# Ignore node_modules
node_modules/
npm-debug.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore large original images (optional, if we want to keep repo small)
# *.png
# *.jpg

# Ignore python scripts used for maintenance
optimize_images.py
